<nb-card id='pathfinder-card-id' class='pathfinder-card' [style.top.px]='cardTopPosition' [style.left.px]='cardLeftPosition' size="medium">
  <nb-card-header>PATH FINDER</nb-card-header>
  <nb-card-body>
    <nb-actions size="medium">
      <nb-action matRipple (click)="showPoints()">
        <nb-icon icon="options-2"></nb-icon>
        <span>Vertex</span>
      </nb-action>
      <nb-action matRipple (click)="showSegments()">
        <nb-icon icon="options"></nb-icon>
        <span>Edges</span>
      </nb-action>
      <nb-action matRipple (click)="showShortestDistanceInput()">
        <nb-icon icon="bar-chart-2"></nb-icon>
        <span>Distance</span>
      </nb-action>
    </nb-actions>
    <ng-container *ngIf="showVertexInput">
      <div class="row">
        <button mat-raised-button color="primary" (click)="addPoint()">
          <nb-icon class="action-icon" icon="plus-circle-outline"></nb-icon>
          ADD POINT
        </button>
      </div>
      <div class="pathfinder-accordion-container row">
        <nb-accordion>
          <nb-accordion-item *ngFor="let point of pointsList">
            <nb-accordion-item-header matRipple>
              <span>{{point.name}}</span>
              <div style="flex-grow: 1;"></div>
              <nb-icon class="delete-icon" icon="trash-2-outline" (click)="deletePoint(point.name)"></nb-icon>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Lat</mat-label>
                    <input matInput value="{{point.lat.toFixed(6)}}" autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Lon</mat-label>
                    <input matInput value="{{point.lon.toFixed(6)}}" autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Alt</mat-label>
                    <input matInput value="{{point.alt.toFixed(2)}}" autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="col-3 vertical-center">
                  <nb-icon icon="hand-pointer" pack="far" (click)="selectPointMap(point.name)"></nb-icon>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>
    </ng-container>
    <ng-container *ngIf="showEdgesInput">
      <div class="row">
        <button mat-raised-button color="primary" (click)="addEdge()">
          <nb-icon class="action-icon" icon="plus-circle-outline"></nb-icon>
          ADD EDGE
        </button>
      </div>
      <div class="pathfinder-accordion-container row">
        <nb-accordion>
          <nb-accordion-item *ngFor="let edge of edgesList">
            <nb-accordion-item-header matRipple>
              <span>{{edge.name}}</span>
              <div style="flex-grow: 1;"></div>
              <nb-icon class="delete-icon" icon="trash-2-outline" (click)="deleteEdge(edge.name)"></nb-icon>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-6">
                  <mat-form-field>
                    <mat-label>Source</mat-label>
                    <mat-select [(ngModel)]="edge.source" (selectionChange)="updateEdge(edge.name)">
                      <mat-option *ngFor="let point of pointsList" [value]="point">{{point.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field>
                    <mat-label>Target</mat-label>
                    <mat-select [(ngModel)]="edge.target"(selectionChange)="updateEdge(edge.name)">
                      <mat-option *ngFor="let point of pointsList" [value]="point">{{point.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>
    </ng-container>
    <ng-container *ngIf="showShortestDistance">
      <div class = "row">
        <div class="col-12">
          <nb-actions size="medium" fullWidth>
            <nb-action matRipple (click)="exportData()">
              <nb-icon icon="download"></nb-icon>
              <span>EXPORT</span>
            </nb-action>
            <nb-action matRipple (click)="importData()">
              <nb-icon icon="upload"></nb-icon>
              <span>IMPORT</span>
            </nb-action>
          </nb-actions>
        </div>
        <input id="file-upload" style="display: none" type="file" (change)="loadScenario($event)"/>
      </div>
      <div *ngIf="pointsList.length > 1" class="pathfinder-accordion-container row">
        <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header matRipple>
            <span>Start & End Point</span>
            <div style="flex-grow: 1;"></div>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row">
              <div class="col-6">
                <mat-form-field>
                  <mat-label>Start Point</mat-label>
                  <mat-select [(ngModel)]="startPoint">
                    <mat-option *ngFor="let point of pointsList" [value]="point">{{point.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <mat-label>End Point</mat-label>
                  <mat-select [(ngModel)]="endPoint">
                    <mat-option *ngFor="let point of pointsList" [value]="point">{{point.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        </nb-accordion>
      </div>
      <div class="row" style="justify-content: center;">
        <button mat-raised-button color="primary" (click)="computeShortestPath()">
          <nb-icon class="action-icon" icon="plus-circle-outline"></nb-icon>
          CALCULATE
        </button>
      </div>
    </ng-container>
  </nb-card-body>
</nb-card>
<div [style.height.px]="cesiumMapHeight">
  <ac-map>
    <ng-container *ngFor="let point of visualPoints">
      <ac-point [props]="{
        id: point.name,
        position: point.position,
        pixelSize: 7.5
      }" (click)="addPointToEdge(point)">
      </ac-point>
    </ng-container>
    <ng-container *ngFor="let edge of visualEdges">
      <ac-polyline [props]="{
        id: edge.name,
        positions: edge.positions,
        text: edge.name,
        font: '30px sans-serif',
        material: cesiumLineMaterial,
        width: 8
      }">
      </ac-polyline>
    </ng-container>
    <points-editor></points-editor>
  </ac-map>
</div>

