@import '../../@theme/styles/themes';

@include nb-install-component() {
  .pathfinder-card {
    z-index: 1000;
    position: absolute;
    top: 100px;
    float: right;
    min-height: 150px;
    max-height: 410px;
    height: unset;
    left: 100px;
    width: 350px;
    nb-card-body {
      padding: 10px;
      ::ng-deep nb-actions{
        padding-bottom: 5px;
        nb-icon {
          font-size: 1.5rem;
        }
      }
      ::ng-deep .row {
        margin: 0px;
      }
      .pathfinder-accordion-container {
        width: 100%;
        margin-top: 5px;
        ::ng-deep ::-webkit-scrollbar {
          color: nb-theme(card-scrollbar-color);
          background-color: nb-theme(card-scrollbar-background-color);
          width: nb-theme(card-scrollbar-width);
        }
        ::ng-deep nb-accordion {
          width: 100%;
          max-height: 245px;
          overflow-x: auto;
          ::ng-deep nb-accordion-item-header {
            padding: 10px;
            ::ng-deep .expansion-indicator{
              display: none;
            }
            ::ng-deep .delete-icon {
              color: nb-theme(text-danger-color)
            }
          }
          ::ng-deep nb-accordion-item-body {
            .item-body {
              padding: 0px;
              padding-top: 7.5px;
            }
            ::ng-deep mat-form-field {
              display: block;
            }
            ::ng-deep .vertical-center {
              text-align: center;
              align-self: center;
              nb-icon {
                cursor: pointer;
              }
            }
          }
        }
      }
    } 
  }
}